.header {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-column-gap: 2%;
  width: 100%;
  height: 110px;
  padding: 0 12%;
  z-index: 9999;

  & > div:first-of-type {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: calc(60% + 14%);
  }
  & > div:last-of-type {
    display: flex;
    width: 40%;
  }
  .button {
    padding: 7% 5%;
    white-space: nowrap;
  }
}
.header__nav {
  flex-grow: 1;
  flex-shrink: 0;
  justify-self: center;

  ul {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 1em;
  }
  li {
    position: relative;
    font-size: 16px;
    line-height: 150%;

    &::before {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      width: 6.8em;
      height: 6.8em;
      opacity: 0.5;
      transform: translate(-50%, -50%) scale(0);
      border-radius: 50%;
      background: radial-gradient($green 1%, transparent 50%) no-repeat;
      z-index: -1;
      transition: ease 0.35s;
    }
  }
  li:hover::before {
    transform: translate(-50%, -50%) scale(1);
  }
  a {
    white-space: nowrap;
  }
}
.header__phone {
  text-align: center;
  font-size: 18px;
  transition: ease 0.25s;

  &:hover {
    color: $green;
  }
}

@media (max-width: 1366px) {
  .header {
    grid-template-columns: max-content 1fr min-content;
  }
  .header__nav {
    display: none;
  }
}
@media (max-width: 1200px) {
  .header {
    padding: 0 10%;
  }
}
@media (max-width: 900px) {
  .header {
    padding: 0 5%;
  }
}
@media (max-width: 768px) {
  .header {
    height: 100px;

    .button {
      display: none;
    }
  }
  .header__logo {
    width: 180px;
  }
  .header__phone {
    justify-self: center;
    margin: 0;
    margin-left: auto;
  }
}

@media (max-width: 600px) {
  .header {
    position: relative;
    z-index: 0;
    height: 70px;
    background-color: $gray-3;

    .button {
      width: 50px;
      height: 50px;
    }
  }
  .header__logo {
    width: 145px;
  }
}
@media (max-width: 500px) {
  .header {
    button {
      width: 50px;
      height: 50px;
    }
  }
}
@media (max-width: 430px) {
  .header__phone {
    font-size: 14px;
  }
}
@media (max-width: 360px) {
  .header__phone {
    font-size: 12px;
  }
}
